# Make a copy of this file named `.env` in your project root
NODE_ENV=development

PG_PASSWORD=postgres123
POSTGRES_PORT_EXPOSED=5432

MINIO_ROOT_PASSWORD=minio123
MINIO_ACCESS_KEY=
MINIO_SECRET_ACCESS_KEY=
