# Make a copy of this file named `.env` in your project root
NODE_ENV=development

PG_PASSWORD=postgres123
POSTGRES_PORT_EXPOSED=5432

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

KEYCLOAK_ADMIN=keycloak
KEYCLOAK_ADMIN_PASSWORD=keycloak123

NATS_ADDRESS=nats://localhost:4222

# Traction Integration
TRACTION_BASE_URL=https://example.ca
TRACTION_TENANT_ID=5xxxxxx2-bxx5-4xx9-8xx3-4xxxxxxxxxx0
TRACTION_TENANT_API_KEY=c4exxxxxxxxxxxxxxxxxxxxd0c84efa0
